.home {
  position: relative;
  top: 23vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2em 0 1em 0;
}

.homeTitle {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.homeTitle h1 {
  font-size: 25vw;
}
.homeTitle h2 {
  font-size: 15vw;
}
.homeTitle h3 {
  font-size: 7vw;
}

.homeTitle h1:hover,
.homeTitle h2:hover,
.homeTitle h3:hover {
  color: #e09794;
  transform: scale(1.2);
}

.homeImage {
  display: none;
}
.homeImage img {
  width: 50%;
  height: 50%;
}
@media only screen and (min-width: 475px) {
  .home {
    top: 110px;
  }
}

@media only screen and (orientation: landscape) {
  .homeTitle h1 {
    font-size: 15vw;
  }
  .homeTitle h2 {
    font-size: 8vw;
  }
  .homeTitle h3 {
    font-size: 3vw;
  }
  .homeImage {
    display: contents;
  }
}
