.footer {
  position: relative;
  top: 25vh;
  margin-top: 2em;
  background-color: rgba(250, 197, 197);
  display: flex;
  padding: 1em;
  font-size: 5vw;
}
.upArrow {
  width: auto;
}

.upArrow a {
  color: rgb(34, 32, 32);
}

.upArrow a:hover {
  color: #d1e6df;
}

@media only screen and (min-width: 500px) {
  .footer {
    font-size: 2em;
  }
}
