:root {
  font-size: 16px;
}

* {
  width: 1440px;
  margin: 0;
  padding: 0;
  overflow: none;
  box-sizing: border-box;
}
body {
  margin-top: 115px;
  overflow-x: hidden;
}

main {
  width: 1440px;
  background: url(https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=710&q=80)
    top left no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 1vh;
}
.nav {
  background-color: #d1e6df;
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 1440px;
  z-index: 5;
  -webkit-box-shadow: -0.88rem 0.88rem 1.31rem 0.44rem rgba(102, 91, 102, 0.52);
  -moz-box-shadow: -0.88rem 0.88rem 1.31rem 0.44rem rgba(102, 91, 102, 0.52);
  box-shadow: -0.88rem 0.88rem 1.31rem 0.44rem rgba(102, 91, 102, 0.52);
}

.logo {
  margin-top: 1px;
}
.navBarImg {
  margin-left: 40px;
  width: 100px;
  min-width: 90px;
}

.navBarBar {
  height: 100px;
  width: 1000px;
  display: flex;
  align-items: flex-end;
}
.navBarBar li {
  flex-flow: row wrap;
  list-style-type: none;
  text-align: center;
}
.navBarBar a {
  color: #e09794;
  font-size: 1.25rem;
  font-weight: 800;
  text-decoration: none;
}

.navBarBar a:hover {
  color: white;
}
.socialBar ul {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: row wrap;
  align-items: flex-end;
  justify-content: flex-end;
}

.socialBarNav li {
  list-style-type: none;
  text-align: center;
}

.Icon {
  color: #e09794;
  font-size: 1.88rem;
}

#githubIcon:hover {
  color: #6e5494;
}
#linkedInIcon:hover {
  color: #2867b2;
}
#mediumIcon:hover {
  color: #00ab6c;
}
#menuIcon:hover {
  color: white;
}
.home {
  width: 1440px;
  height: 650px;
  display: flex;
  flex-direction: row;
}
.homeTitle {
  margin-top: 150px;
  width: 1100px;
}
.homeTitle h1 {
  width: 250px;
  font-size: 9.5rem;
  padding-bottom: 5px;
  margin-left: 650px;
}
.homeTitle h1 ul {
  width: 250px;
  display: flex;
  flex-direction: row;
}
.homeTitle h1 li {
  list-style: none;
}
.homeTitle h1 li:hover {
  color: #e09794;
  font-size: 12.5rem;
}
.homeTitle h2 {
  width: 500px;
  font-size: 6.25rem;
  margin-left: 400px;
}
.homeTitle h2 ul {
  width: 500px;
  display: flex;
  flex-direction: row;
}
.homeTitle h2 li {
  list-style: none;
}
.homeTitle h2 li:hover {
  color: #e09794;
  font-size: 10rem;
}
.homeTitle h3 {
  font-size: 1.91rem;
  margin-left: 85px;
  width: 800px;
}
.homeTitle h3 ul {
  width: 800px;
  display: flex;
  flex-direction: row;
}
.homeTitle h3 li {
  list-style: none;
}
.homeTitle h3 li:hover {
  color: #e09794;
  font-size: 6.25rem;
}
.homeImage {
  margin-top: 40px;
}
.AmyFranzIcon {
  width: 600px;
}
.myProjects {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.myProjectsTitle h1 {
  text-align: center;
  background-color: rgba(250, 197, 197, 0.5);
  padding-bottom: 5px;
  width: 1010px;
  margin-left: 220px;
  border-radius: 0.8rem 0.8rem 0rem 0rem;
  font-size: 3rem;
  justify-self: center;
}
.projects {
  width: 1010px;
  height: 650px;
  margin-left: 220px;
  margin-bottom: 30px;
  background-color: rgba(250, 197, 197, 0.5);
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 0rem 0rem 0.8rem 0.8rem;
}
.slides {
  background-color: #e09794;
  width: 750px;
  height: 630px;

  -webkit-box-shadow: -0rem 0.88rem 1.31rem 0.44rem rgba(102, 91, 102, 0.52);
  -moz-box-shadow: -0rem 0.88rem 1.31rem 0.44rem rgba(102, 91, 102, 0.52);
  box-shadow: -0rem 0.88rem 1.31rem 0.44rem rgba(102, 91, 102, 0.52);
}
.navBtn {
  background-color: rgba(224, 151, 148, 0.2);
  color: white;
  font-size: 20px;
  border: none;
  height: 630px;
  width: 40px;
}
.ProjectCard {
  width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}
.ProjectImg {
  margin-top: 30px;
  width: 550px;
  background-color: aliceblue;
  padding: 0.4rem;
}

.ProjectText {
  width: 850px;
  height: 100px;
  margin-top: 10px;
  color: aliceblue;
}

.ProjectLinks {
  width: 880px;
  text-align: center;
}

.ProjectLinks a {
  color: aliceblue;
  margin-left: 1rem;
  margin-right: 1rem;
  text-decoration: none;
}

.ProjectText h1 {
  width: 880px;
  text-align: center;
}
.ProjectText h2 {
  width: 880px;
  text-align: center;
}

.aboutMe {
  width: 1300px;
  font-size: 1.5rem;
  background-color: rgba(209, 230, 223, 0.5);
  margin-left: 70px;
  border-radius: 1rem;
}

.aboutMe i {
  font-weight: 600;
}
.aboutMe a {
  text-decoration: none;
  font-weight: 800;
  color: black;
}
.aboutMe a:hover {
  color: white;
}
.aboutMe h1 {
  text-align: center;
  font-size: 3rem;
  padding: 2rem;
}
.aboutMe h2 {
  text-align: center;
  font-size: 1.8rem;
  padding-bottom: 20px;
}

/* over ride margin to center  */
.alignRight {
  background-color: rgba(250, 197, 197, 0.9);
  width: 700px;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 16px;
  border-radius: 1rem;
  -webkit-box-shadow: -0.88rem 0.88rem 1.31rem 0.44rem rgba(102, 91, 102, 0.52);
  -moz-box-shadow: -0.88rem 0.88rem 1.31rem 0.44rem rgba(102, 91, 102, 0.52);
  box-shadow: -0.88rem 0.88rem 1rem 0.2rem rgba(102, 91, 102, 0.52);
}

.alignLeft {
  background-color: rgba(250, 197, 197, 0.9);
  width: 700px;
  margin-left: 560px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 16px;
  border-radius: 1rem;
  -webkit-box-shadow: -0.88rem 0.88rem 1.31rem 0.44rem rgba(102, 91, 102, 0.52);
  -moz-box-shadow: -0.88rem 0.88rem 1.31rem 0.44rem rgba(102, 91, 102, 0.52);
  box-shadow: -0.88rem 0.88rem 1rem 0.2rem rgba(102, 91, 102, 0.52);
}
.aboutMeCTA {
  width: 1440px;
  margin-left: -70px;
  padding-top: 20px;
  background-color: #d1e6df;
  -webkit-box-shadow: -14px 14px 21px -7px rgba(102, 91, 102, 0.52);
  -moz-box-shadow: -14px 14px 21px -7px rgba(102, 91, 102, 0.52);
  box-shadow: -14px 14px 21px -7px rgba(102, 91, 102, 0.52);
}
.aboutMeCTA a {
  color: #e09794;
}

.contactMe {
  height: 300px;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 700px;
  margin-left: 370px;
  background-color: #d1e6df;
  -webkit-box-shadow: -14px 14px 21px -7px rgba(102, 91, 102, 0.52);
  -moz-box-shadow: -14px 14px 21px -7px rgba(102, 91, 102, 0.52);
  box-shadow: -14px 14px 21px -7px rgba(102, 91, 102, 0.52);
}
.contactMeTitle {
  margin-left: 100px;
  font-size: 3rem;
  padding-top: 0.5rem;
}

.contactMeInfo {
  margin-left: 140px;
  font-size: 2rem;
}
.contactMeInfo P {
  margin-top: 30px;
}
.contactMeInfo a {
  text-decoration: none;
  color: #e09794;
}
.contactMeInfo a:hover {
  color: white;
}

.linkedInIcon {
  margin-right: 16px;
}
.emailIcon {
  margin-right: 16px;
}
.footer {
  background-color: rgba(250, 197, 197, 0.8);
  display: flex;
  flex-direction: row;
  padding-top: 16px;
  padding-bottom: 16px;
}
.copyRight {
  font-size: 1.5rem;
  margin-left: 600px;
  width: 290px;
}

.upArrowIcon {
  margin-left: 450px;
  font-size: 2rem;
  color: rgb(34, 32, 32);
}

.upArrowIcon:hover {
  color: #d1e6df;
}