:root {
  font-size: 16px;
}

* {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: none;
  box-sizing: border-box;
}
body {
  top: 0;
  overflow-x: hidden;
}
.App {
  width: 100vw;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: white;
}

main {
  position: relative;
  top: 20vh;
  width: 100%;
  background: url(https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=710&q=80)
    top left no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 3em;
}

/* 

.contactMe {
  height: 300px;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 700px;
  margin-left: 370px;
  background-color: #d1e6df;
  -webkit-box-shadow: -14px 14px 21px -7px rgba(102, 91, 102, 0.52);
  -moz-box-shadow: -14px 14px 21px -7px rgba(102, 91, 102, 0.52);
  box-shadow: -14px 14px 21px -7px rgba(102, 91, 102, 0.52);
}
.contactMeTitle {
  margin-left: 100px;
  font-size: 3rem;
  padding-top: 0.5rem;
}

.contactMeInfo {
  margin-left: 140px;
  font-size: 2rem;
}
.contactMeInfo P {
  margin-top: 30px;
}
.contactMeInfo a {
  text-decoration: none;
  color: #e09794;
}
.contactMeInfo a:hover {
  color: white;
}

.linkedInIcon {
  margin-right: 16px;
}
.emailIcon {
  margin-right: 16px;
}
.footer {
  background-color: rgba(250, 197, 197, 0.8);
  display: flex;
  flex-direction: row;
  padding-top: 16px;
  padding-bottom: 16px;
}
.copyRight {
  font-size: 1.5rem;
  margin-left: 600px;
  width: 290px;
}

.upArrowIcon {
  margin-left: 450px;
  font-size: 2rem;
  color: rgb(34, 32, 32);
}

.upArrowIcon:hover {
  color: #d1e6df;
} */
