.aboutMeInfo {
  width: 90%;
  font-size: 1.5rem;
  margin-left: 5%;
  border-radius: 1rem;
}
.aboutMe i {
  font-weight: 600;
}
.aboutMe a {
  text-decoration: none;
  font-weight: 800;
  color: black;
}
.aboutMe a:hover {
  color: white;
}
.aboutMe h1 {
  text-align: center;
  font-size: 10vw;
  padding: 2rem;
}
.aboutMe p {
  font-size: 5vw;
}

.aboutMeText {
  display: flex;
  flex-direction: column;
}

.alignRight {
  background-color: rgba(250, 197, 197, 0.9);
  align-self: flex-end;
  width: 100%;
  max-width: 800px;
  margin-bottom: 10px;
  padding: 16px;
  border-radius: 1rem;
  -webkit-box-shadow: -0.88rem 0.88rem 1.31rem 0.44rem rgba(102, 91, 102, 0.52);
  -moz-box-shadow: -0.88rem 0.88rem 1.31rem 0.44rem rgba(102, 91, 102, 0.52);
  box-shadow: -0.88rem 0.88rem 1rem 0.2rem rgba(102, 91, 102, 0.52);
}

.alignLeft {
  background-color: rgba(250, 197, 197, 0.9);
  width: 100%;
  max-width: 800px;
  align-self: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 16px;
  border-radius: 1rem;
  -webkit-box-shadow: -0.88rem 0.88rem 1.31rem 0.44rem rgba(102, 91, 102, 0.52);
  -moz-box-shadow: -0.88rem 0.88rem 1.31rem 0.44rem rgba(102, 91, 102, 0.52);
  box-shadow: -0.88rem 0.88rem 1rem 0.2rem rgba(102, 91, 102, 0.52);
}

.aboutMeCTA {
  width: 100%;
  padding: 20px 0 20px 0;
  text-align: center;
  background-color: #d1e6df;
  -webkit-box-shadow: -14px 14px 21px -7px rgba(102, 91, 102, 0.52);
  -moz-box-shadow: -14px 14px 21px -7px rgba(102, 91, 102, 0.52);
  box-shadow: -14px 14px 21px -7px rgba(102, 91, 102, 0.52);
}
.aboutMeCTA a {
  color: #e09794;
}

@media only screen and (min-width: 500px) {
  .aboutMe h1 {
    font-size: 2em;
  }
  .aboutMe p {
    font-size: 0.8em;
  }
}
